@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&family=Teko:wght@700&display=swap");
@tailwind components;
@tailwind utilities;
@tailwind base;

* {
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-color: #001018;
}

.teko-font {
  font-family: "Teko", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

:target {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}
a {
  @apply text-teal-300;
}
